In [13]:
#importamos a panda
import pandas as pd
import numpy as np

In [25]:
#descargamos los datos
df=pd.read_csv('aguaprieta2',skiprows=20,skipfooter=1, sep='\s+',header=None,names=['DD/MM/YY','PRECIP','EVAP','TMAX','TMIN'],engine='python')

In [26]:
df

         DD/MM/YY  PRECIP  EVAP  TMAX  TMIN
0      01/02/1961     0.0   NaN  19.5   2.0
1      02/02/1961     0.0   NaN  20.0   2.5
2      03/02/1961     0.0   2.7  21.5   1.8
3      04/02/1961     0.0   3.0  16.7   1.0
4      05/02/1961     0.0   1.3  11.4   4.0
5      06/02/1961     0.0   1.8  12.4  -3.0
6      07/02/1961     0.0   1.0  14.8  -3.0
7      08/02/1961     0.0   3.3  18.4  -3.5
8      09/02/1961     0.0   3.2  19.8  -2.0
9      10/02/1961     0.0   3.2  24.0  -1.0
10     11/02/1961     0.0   3.2  26.8   0.5
11     12/02/1961     0.0   4.8  25.8   0.8
12     13/02/1961     0.0   4.3  26.5   3.5
13     14/02/1961     0.0   2.5  24.4   1.0
14     15/02/1961     0.0   4.1  25.0   0.8
15     16/02/1961     0.0   5.4  22.5   0.0
16     17/02/1961     0.0   2.9  17.8   0.5
17     18/02/1961     0.0   3.6  22.4  -2.8
18     19/02/1961     1.0   1.8  14.8   0.5
19     20/02/1961     0.0   3.2  15.8  -1.5
20     21/02/1961     0.0   2.0  19.0  -1.4
21     22/02/1961     0.0   4.6  22.8   0.8
22     23/02/1961     0.0   3.1  20.0   0.5
23     24/02/1961     0.0   3.6  16.4   2.4
24     25/02/1961     0.0   5.1  24.5   3.0
25     26/02/1961     0.0   7.0  25.0   1.0
26     27/02/1961     0.0   3.0  18.0   1.5
27     28/02/1961     0.0   5.0  22.8   1.8
28     01/03/1961     0.0   3.1  23.0  -0.5
29     02/03/1961     0.0   6.7  28.5   0.0
...           ...     ...   ...   ...   ...
16722  02/07/2011     0.0   6.9  39.0  21.0
16723  03/07/2011     0.5   7.0  42.0  20.0
16724  04/07/2011     2.5  10.3  38.0  22.0
16725  05/07/2011     0.0   0.8  37.0  21.0
16726  06/07/2011     0.0   6.1  39.0  20.0
16727  07/07/2011     0.0   8.2  39.0  21.0
16728  08/07/2011     0.0   6.6  39.0  21.0
16729  09/07/2011     0.0   6.6  40.0  20.0
16730  10/07/2011     0.0   6.8  40.0  20.0
16731  11/07/2011    10.5   7.1  33.0  19.0
16732  12/07/2011     5.5   5.5  35.0  20.0
16733  13/07/2011     0.0   8.1  36.0  19.0
16734  14/07/2011     0.0   8.4  36.0  21.0
16735  15/07/2011     0.0   5.3  38.0  19.0
16736  16/07/2011     0.0   7.3  37.0  19.0
16737  17/07/2011     2.0   3.3  40.0  20.0
16738  18/07/2011     1.0   4.8  37.0  19.0
16739  19/07/2011     0.0   8.8  37.0  21.0
16740  20/07/2011     0.0   6.1  38.0  22.0
16741  21/07/2011     0.0   4.6  38.0  20.0
16742  22/07/2011     0.0   1.4  37.0  21.0
16743  23/07/2011    50.0   2.4  36.0  20.0
16744  24/07/2011     4.0   5.4  36.0  20.0
16745  25/07/2011    17.0   3.7  34.0  20.0
16746  26/07/2011    10.0   4.7  31.0  21.0
16747  27/07/2011     0.0   6.4  36.0  20.0
16748  28/07/2011    13.0   6.2  37.0  20.0
16749  29/07/2011     0.0   4.2  36.0  20.0
16750  30/07/2011    11.0   1.7  35.0  20.0
16751  31/07/2011    13.0   NaN  34.0  21.0

[16752 rows x 5 columns]

In [27]:
df.dtypes

DD/MM/YY     object
PRECIP      float64
EVAP        float64
TMAX        float64
TMIN        float64
dtype: object

In [28]:
df['FECHA'] = pd.to_datetime(df.apply(lambda x: x['DD/MM/YY'], 1), dayfirst=True)
df=df.drop(['DD/MM/YY'],1)

In [29]:
df.dtypes

PRECIP           float64
EVAP             float64
TMAX             float64
TMIN             float64
FECHA     datetime64[ns]
dtype: object

In [30]:
df.head()

   PRECIP  EVAP  TMAX  TMIN      FECHA
0     0.0   NaN  19.5   2.0 1961-02-01
1     0.0   NaN  20.0   2.5 1961-02-02
2     0.0   2.7  21.5   1.8 1961-02-03
3     0.0   3.0  16.7   1.0 1961-02-04
4     0.0   1.3  11.4   4.0 1961-02-05

In [31]:
df.tail()

       PRECIP  EVAP  TMAX  TMIN      FECHA
16747     0.0   6.4  36.0  20.0 2011-07-27
16748    13.0   6.2  37.0  20.0 2011-07-28
16749     0.0   4.2  36.0  20.0 2011-07-29
16750    11.0   1.7  35.0  20.0 2011-07-30
16751    13.0   NaN  34.0  21.0 2011-07-31

In [32]:
df.mean()

PRECIP     0.955698
EVAP       5.679653
TMAX      26.371555
TMIN       8.596580
dtype: float64